:root {
    --bg: #f5efe9;
    --accent: #d6c1b2;
    --accent-dark: #c2a999;
    --text: #4b413b;
    --white: #ffffff;
    --glass: rgba(255,255,255,0.5);
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    color: var(--text);
}   

/* NAVBAR */
nav {
    position: fixed;
    width: calc(100% - 15%);
    top: 0;
    backdrop-filter: blur(12px);
    background: var(--glass);
    padding: 18px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.3s ease;
    /*
    trushenko: sprinter;
    */
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
} 

img {
    position: relative;
    width: 100px;
}

/* HEADER */
header {
    position: relative;
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    position: relative;
    margin-inline: 15px;
    padding-block: 5px;
}

section {
    background: #eee5dc;
}

iframe {
    position: relative;
    width: 80%;
    height: 83%;
}

#ua {
    display: none;
}

#lang {
    position: fixed;
    right: 0;
    width: 100px;
    background: white;
    z-index: 999;
    top: 102px;
    backdrop-filter: blur(12px);
    background: var(--glass);
}

#lang button {
    position: relative;
    border: none;
    height: 27px;
    background: none;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

#lang button.selected {
    background: rgba(200, 200, 200, 0.706);
}

#lang img {
    position: relative;
    width: 35px;
    height: 21px;
}

/* MOBILE */
@media(max-width: 768px){
    /* nav ul {
        gap: 15px;
        font-size: 0.9rem;
    }
    .hero h1 {
        font-size: 2.5rem;
    } */
}